<p id="notice"><%= notice %></p>

<h1>Organization Roles</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>User</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_roles.each do |organization_role| %>
      <tr>
        <td><%= organization_role.organization_id %></td>
        <td><%= organization_role.user_id %></td>
        <td><%= organization_role.role %></td>
        <td><%= link_to 'Show', organization_role %></td>
        <td><%= link_to 'Edit', edit_organization_role_path(organization_role) %></td>
        <td><%= link_to 'Destroy', organization_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization Role', new_organization_role_path %>
